.DS_Store
Terminal
Thumbs.db
desktop.ini
*.tmp
update.sh
*.sh
c++/*
liballs.md
.idea
.git-pr
oc-update
c++/bits
c++/ADbridge
c++/Swift
test/obj
test/libs/*.dylib
test/libs/*.so
test/libs/Terminal
test/libs/libad.so.1
test/libs/test
oc-update
test/testapp/www
test/testapp/testapp.www.all.md
test/testapp/update
test/test2-cli/test2-cli
test/apps/*
test/test2-cli/term
test/build.sh
test/Terminal
